.slider-container2 {
  margin-top: -10%;
  align-items: center;
  display: flex;
  height: 6.9444vw;
  width: 100%;
  justify-content: center;
  overflow: hidden; /* 넘치는 부분 숨기기 */
  border-top: solid 0.1vw #0038ff;
  border-bottom: solid 0.1vw #0038ff;
}

.slider2 {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider2::before,
.slider2::after {
  content: "";
  position: absolute;
  height: 6.9444vw;
  width: 13.8889vw;
  z-index: 2;
}

.slider2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider2::before {
  left: 0;
  top: 0;
}

.slide-track2 {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc((17.3611vw + 8.3333vw) * 12); /* 여기서 12는 원본 + 복제 슬라이드 총 개수 */
}

.slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8.3333vw; /* 슬라이드 간 간격 */
}
.slide2 img {
  height: 4.5139vw;
  width: 10.0694vw;
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * (17.3611vw + 8.3333vw) * 6)); 
  }
}

.slide2 span {
  color: #0038ff;
  font-size: 2.6389vw;
  display: block;
  margin-left: 2.0833vw; /* 이미지와 텍스트 간 간격 */
}
