.planeContainer {
  height: 50vw;
  width: 100%;
  margin-top: 10%;
  display: flex;
  margin-left: 8%;
}
.contentWrapper {
  display: flex;
  height: 50vw;
  flex-direction: column; /* 세로 방향으로 요소들을 정렬 */
}

.planeimg {
  width: max(36.4583vw, 300px);
  height: max(36.4583vw, 300px);
  margin-right: 5%;
}
.text {
  text-align: left;
  font-size: max(3.3854vw, 10px);
  font-weight: 600;
  color: #0038ff;
}
.btnMakeBoard {
  background-color: #0038ff;
  font-size: max(10px, 1.0417vw);
  color: white;
  border: none;
  width: 18.0208vw;
  height: 4.3036vw;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 3vw;
}

.contentText {
  text-align: left;
  font-size: max(1.3542vw, 15px);
  font-weight: 600;
}
@media (max-width: 1000px) {
  .contentText {
    display: none;
  }
  .btnMakeBoard {
    width: 200px;
    height: 70px;
    font-size: 18px;
  }
}

.unbounded-font {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.MbtiCardContainer {
  width: 28.9464vw;
  height: 39.8606vw;
  left: 30%;
  margin-top: 10%;
  border-radius: 30px;
  background: var(--c-2-c-2-c-2, #fff);
  box-shadow: 0px 0px 28.7px -5px #d9d9d9;
  position: relative; /* 추가된 속성 */
  display: flex;
}
.MbtiCardContainer::before {
  
  
  top: 0;
  left: 0;
  width: 100%; /* 부모 요소의 전체 너비 */
  height: 11.9792vw; /* 상단부터 100px까지 */
  background-color: #FFC700; /* 노란색 배경 */
  border-radius: 30px 30px 0 0; /* 상단 좌우 모서리만 둥글게 */
}
.headerFlexContainer {
  display: flex; /* Flexbox 사용 */
  margin-top: -30%;
  align-items: center; /* 세로 중앙 정렬 */
 /* 요소 사이의 공간 균등 배분 */
  width: 100%; /* 부모의 전체 너비 사용 */
}
